* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;

}

p {
    color: rgb(172, 172, 172);
}

/* cabeça */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    padding: 5px 20px;
}

header > a > #logo {
    width: 90px;
}

header > div {
    display: flex;
    width: 90px;
}

header > div > img {
    width: 50px;
    height: 50px;
}

header > div > p {
    margin-top: 18px;
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(30, 30, 30);
}

/* Corpo */

#inicio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.441), rgb(0, 0, 0)), url('../img/violao.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 753px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
}

#inicio > h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.4em;
    line-height: 1em;
    margin: 0px 5px 15px 5px;
}

.maisLaranja {
    color: #FF6600;
}

.maisBranco {
    color: white;
    font-weight: bolder;
}

#inicio > p {
    color: rgb(220, 220, 220);
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.botão {
    background-image: linear-gradient( #ff7920,#773000);
    height: 50px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
}

.botão:hover{
    background-color: #b14700;
}

/* Meio Lista */

#meio-listas {
    background-color: rgb(13, 13, 13);
    color: white;
    padding: 30px;
    padding-top: 50px;
}

.conteudo-lista {
    margin-bottom: 30px;
}

#meio-listas > div > ul > li > p {
    margin: 10px 0px 15px 0px;
}

#meio-listas > div > ul > li {
    margin-left: 15px;
}

ul li::marker {
    color: #FF6600;
}

.imagem {
    max-width: 600px;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
}

.imagem > img {
    width: 100%;
    border-radius: 20px;
}

/* meio modulos */

#modulos {
    padding: 30px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
}

#modulos > h2 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.modulos-filho {
    background-color: #212121;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.modulo-div {
    background-color: #FF6600;
    padding: 7px;
    width: 71px;
    height: 27px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.modulo-div > p {
    font-size: 0.8em;
    color: rgb(245, 245, 245);
}

.modulos-filho > h3 {
    color: rgb(241, 241, 241);
    margin-bottom: 5px;
}

/* meio professor */

#professor-container {
    background-color: #212121;
}

h2 {
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

#professor-container > #professor-filho {
    background-image: linear-gradient(rgba(0, 0, 0, 0.441), rgb(0, 0, 0)) ,url('../img/violao-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    
}

#professor-filho {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#professor-filho > div {
    padding: 30px;
}

#professor-filho > div > h3 {
    color: #ff6f0f;
    margin-bottom: 5px;
}

#professor-filho > div > p {
    color: rgb(231, 231, 231);
    margin-bottom: 20px;
}

#professor-filho > div > a {
    display: inline-block;
}

/* meio compra */

#container-compra {
    background-color: black;
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
}

.filho-compra {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 350px;
    border-radius: 20px;
    padding: 30px;
}

.preços-um-e-dois {
    display: flex;
    justify-content: space-between;
}

.preços-um-e-dois > .vista{
    color: #FF6600;
    font-size: 2em;
    font-weight: bolder;
}

.preços-R > .p1 {
    text-align: end;
    font-size: 2em;
    font-weight: bolder;
    color: #4a4a4a;
}

.p2 {
    color: #747474;
}

#negocio-do-com-parcela-1 > p {
    color: #747474;
}

.segunda-parte-preco {
    display: flex;
    flex-direction: column;
    margin-top: 135px;
}

.segunda-parte-preco > p {
    margin-bottom: 15px;
    color: #6c6c6c;
    font-weight: bold;
}

.filho-compra-2 {
    background-color: #212121;
    width: 100%;
    height: 370px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.preços-R2 > .p1-2 {
    text-align: end;
    font-size: 1.8em;
    font-weight: bolder;
    color: #d2d2d2;
}

.p2-2 {
    color: #919191;
}

#negocio-do-com-parcela-2 {
    color: #919191;
}

/* rodape */

footer {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
}
