* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 226, 226);
}

p {
    color: rgb(172, 172, 172);
}

/* cabeça */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    padding: 5px 20px;
}

header > a > #logo {
    width: 90px;
}

header > div {
    display: flex;
    width: 90px;
}

header > div > img {
    width: 50px;
    height: 50px;
}

header > div > p {
    margin-top: 18px;
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(30, 30, 30);
}

/* Corpo */

#inicio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.441), rgb(0, 0, 0)), url('../img/violao.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
}

#inicio > h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.4em;
    line-height: 1em;
    margin: 0px 5px 15px 5px;
}

.maisLaranja {
    color: #FF6600;
}

.maisBranco {
    color: white;
    font-weight: bolder;
}

#inicio > p {
    color: rgb(220, 220, 220);
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

#botão {
    background-color: #008264;
    height: 50px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
}

#botão:hover{
    background-color: #00614a;
}

/* Meio Lista */

#meio-listas {
    background-color: rgb(13, 13, 13);
    color: white;
    padding: 30px;
    padding-top: 50px;
}

.conteudo-lista {
    margin-bottom: 30px;
}

#meio-listas > div > ul > li > p {
    margin: 10px 0px 15px 0px;
}

#meio-listas > div > ul > li {
    margin-left: 15px;
}

ul li::marker {
    color: #FF6600;
}

.imagem {
    max-width: 600px;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgb(26, 25, 25);
}

.imagem > img {
    width: 100%;
    border-radius: 20px;
}

/* meio modulos */

#modulos {
    padding: 30px;
    background-color: rgb(13, 13, 13);
}

#modulos > h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.modulos-filho {
    background-color: rgb(33, 33, 33);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.modulo-div {
    background-color: #FF6600;
    padding: 7px;
    width: 71px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.modulo-div > p {
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(245, 245, 245);
}

.modulos-filho > h3 {
    color: rgb(241, 241, 241);
    margin-bottom: 5px;
}